<div class="padding-content">
  <ion-list *ngIf="pratica">
    <ion-item class="car-info">
      <div item-start>
        <div class="car-number">
          {{pratica.P1_Targa}}
        </div>
      </div>
      <h2>{{pratica.P1_Veicolo}}</h2>
      <p>Telaio: {{pratica.P1_VeicoloNumeroTelaio}}</p>
      <p>Assicurato: <span *ngIf="pratica.Tipo.Assicurativa == true">{{pratica.P1_Assicurazione}}</span></p>
      <div item-end *ngIf="pratica.Lavorazione">
        <div class="yello-circle">{{pratica.Lavorazione.CodiceTappo != null ? pratica.Lavorazione.CodiceTappo : '..'}}</div>
      </div>
    </ion-item>

    <button detail-none class="three-lines" (click)="expandItem(items[0])" ion-item>
      <i class="fas fa-user" item-start></i>
      <div class="item-header" *ngIf="pratica.Tipo.Assicurativa == true; else elseBlock">Cliente Proprietario Danneggiato</div>
      <ng-template #elseBlock>
        <div class="item-header">Cliente	Proprietario</div>
      </ng-template>
      <h2>{{pratica.P1_Nome}}	{{pratica.P1_Cognome}}</h2>
      <p><span *ngIf="pratica.P1_Telefono">Tel.: {{pratica.P1_Telefono}} </span><span *ngIf="pratica.P1_Email">- E-mail: {{pratica.P1_Email}}</span></p>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="items[0].expanded">
          Hello people
      </expandable>
      <span item-end *ngIf="pratica.P1_IsValid">
        <i class="icon-alert"></i>        
      </span>
      <button ion-button clear item-end icon-only>
        <i class="icon-arrow-down" *ngIf="!items[0].expanded"></i>
        <i class="icon-arrow-up" *ngIf="items[0].expanded"></i>
      </button>
    </button>

    <button detail-none (click)="expandItem(items[1])" ion-item *ngIf="pratica.Lavorazione">
      <i class="fas fa-wrench" item-start></i>      
      <div class="item-header">Lavorazione</div>
      <h2>Inizio lavoro il:
        <span *ngIf="pratica.Lavorazione.DataInizioLavorazione">{{pratica.Lavorazione.DataInizioLavorazione | date: 'dd/MM/yyyy'}}</span>
        <span *ngIf="pratica.Lavorazione.DataInizioLavorazione == null && pratica.Lavorazione.DataAccettazione">{{pratica.Lavorazione.DataAccettazione | date: 'dd/MM/yyyy'}}</span>
        <span *ngIf="pratica.Lavorazione.DataInizioLavorazione == null && pratica.Lavorazione.DataAccettazione == null && pratica.Lavorazione.DataPrenotazione">{{pratica.Lavorazione.DataPrenotazione | date: 'dd/MM/yyyy'}}</span>
      </h2>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="items[1].expanded">
          Hello people
      </expandable>
      <button ion-button clear item-end icon-only>
        <i class="icon-arrow-down" *ngIf="!items[1].expanded"></i>
        <i class="icon-arrow-up" *ngIf="items[1].expanded"></i>
      </button>
    </button>

    <button detail-none (click)="expandItem(items[2])" ion-item>
      <i class="fas fa-euro-sign" item-start></i>
      <div class="item-header">
        <span *ngIf="pratica.Tipo.Assicurativa == true; else elseTipoAssicurativa">Pratica assicurativa</span>
        <ng-template #elseTipoAssicurativa>{{pratica.Tipo.Sigla}}</ng-template> del {{pratica.DataInserimento | date: 'dd/MM/yyyy'}}
      </div>
      <h2>
        Assegnata	a: <span *ngIf="pratica.GaranteID !== null; else elseGaranteID">{{pratica.Garante.Nome}}</span>
        <ng-template #elseGaranteID>
          <span *ngIf="pratica.GaranteAutoGestione == true">In autogestione</span>
          <span *ngIf="pratica.GaranteAutoGestione == false">Nessun	garante	assegnato</span>
        </ng-template>
        <span *ngIf="pratica.GaranteID != null && pratica.ColoreID != null" [style.color]="pratica.Colore.Colore">- Valutazione	Garante: {{pratica.Colore.Nome}}</span>
      </h2>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="items[2].expanded">
          Hello people
      </expandable>
      <span item-end>
        <i class="icon-warning"></i>        
      </span>
      <button ion-button clear item-end icon-only>
        <i class="icon-arrow-down" *ngIf="!items[2].expanded"></i>
        <i class="icon-arrow-up" *ngIf="items[2].expanded"></i>
      </button>
    </button>

    <button detail-none (click)="expandItem(items[3])" ion-item *ngIf="pratica.Tipo.ObbligoControparte == true">
      <i class="fas fa-user" item-start></i>
      <div class="item-header">Controparte</div>
      <h2>{{pratica.Controparte}}</h2>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="items[3].expanded">
          Hello people
      </expandable>
      <button ion-button clear item-end icon-only>
        <i class="icon-arrow-down" *ngIf="!items[3].expanded"></i>
        <i class="icon-arrow-up" *ngIf="items[3].expanded"></i>
      </button>
    </button>

    <button detail-none (click)="expandItem(items[4])" ion-item *ngIf="pratica.AutoSostitutiva">
      <i class="fas fa-car" item-start></i>
      <div class="item-header">
        <span *ngIf="pratica.AutoSostitutiva == true; else elseAutoSostitutiva">Noleggio in	corso</span>
        <ng-template #elseAutoSostitutiva>Auto riconsegnata</ng-template>
      </div>
      <h2>Auto di cortesia consegnata il: <span *ngIf="pratica.AutoSostitutiva == true">{{pratica.ConsegnaAutoSostitutiva | date: 'dd/MM/yyyy'}}</span></h2>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="items[4].expanded">
          Hello people
      </expandable>
      <button ion-button clear item-end icon-only>
        <i class="icon-arrow-down" *ngIf="!items[4].expanded"></i>
        <i class="icon-arrow-up" *ngIf="items[4].expanded"></i>
      </button>
    </button>
  </ion-list>
</div>