<ion-content padding>
  <div class="columns-container">

    <!-- BEGIN LEFT COLUMN WITH HEADER -->
    <div class="left-column with-header">

      <div class="column-header">
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-searchbar
                  [placeholder]="''"
                  [(ngModel)]="searchTerm">
                </ion-searchbar>
              </ion-col>
              <ion-col col-6>
                <ion-row class="no-margin" align-items-center justify-content-between>                  
                  <ion-col col-6>
                    <button ion-button class="btn-new">+ NUOVO</button>
                  </ion-col>
                  <ion-col col-6 class="col-with-buttons">
                    <button ion-button clear icon-only class="options-button">
                      <span class="filter-icon">
                        <span class="icon-line"></span>
                        <span class="icon-line"></span>
                        <span class="icon-line"></span>
                      </span>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </div>

      <div class="content-wrapper">
        <ion-content>
          <ion-list [virtualScroll]="_practices.chiuse_list | filterPratica: searchTerm" [approxItemHeight]="'160px'">
            <ion-item *virtualItem="let item" class="pratiche-item" [class.active]="activeItemID === item.ID" [ngClass]="item.Colore.Colore" (click)="selectPraticeItem(item)">
              <h2>{{item.P1_Targa}} - <span *ngIf="item.P1_Nome && item.P1_Cognome; else elseNome">{{item.P1_Nome}} {{item.P1_Cognome}}</span><ng-template #elseNome>{{item.P1_NomeCompleto}}</ng-template></h2>
              <p><span *ngIf="item.P1_Veicolo != ''; else elseVeicolo">{{item.P1_Veicolo}}</span><ng-template #elseVeicolo>{{item.P1_Marca}} {{item.P1_Modello}}</ng-template></p>
              <div item-end>
                <span [ngClass]="(item.AutoSostitutiva == true) ? 'car-red' : 'car-green'" *ngIf="item.AutoSostitutiva != null">
                  <i class="fas fa-car"></i>
                </span>
                <span class="blue" *ngIf="item.Lavorazione">
                  <ion-badge *ngIf="item.Lavorazione">{{item.Lavorazione.CodiceTappo != null ? item.Lavorazione.CodiceTappo : '..'}}</ion-badge>
                  <div [ngSwitch]="item.Lavorazione.StatoID">
                    <!-- <b *ngSwitchCase="1" style="color: blue;">1</b> -->
                    <i *ngSwitchCase="2" class="far fa-clock" style="color: orange;"></i>
                    <b *ngSwitchCase="3" style="color: red;">A</b>
                    <i *ngSwitchCase="4" class="fas fa-wrench"></i>
                    <b *ngSwitchCase="5" style="color: green;">U</b>
                    <ion-icon *ngSwitchCase="6" name="md-checkmark" style="color: white;"></ion-icon>
                    <i *ngSwitchDefault>&nbsp;</i>
                  </div>                  
                </span>
              </div>
            </ion-item>
          </ion-list>
          <!-- <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite('bottom'))">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll> -->
        <!-- </ion-scroll> -->
      </ion-content>
      </div>
    </div>
    <!-- END LEFT COLUMN -->

    <!-- BEGIN RIGHT COLUMN WITH HEADER -->
    <div class="right-column with-header">
      <div class="column-header">
        <span *ngIf="praticeDetails">{{praticeDetails.P1_Targa}} - {{praticeDetails.P1_Nome}} {{praticeDetails.P1_Cognome}}</span>
        <button class="edit-button" *ngIf="praticeDetails" ion-button icon-only clear 
                (click)="editPractice(praticeDetails.ID, praticeDetails.Tipo.ID)">
          <i class="far fa-edit"></i>
        </button>
      </div>

      <div class="content-wrapper" *ngIf="praticeDetails"> 

        <switcher class="green" [values]="tabValues" [checkedTabs]="checkedTabs" withCheckMark="true"
                  [(ngModel)]="selectedTab"></switcher>
                  
        <div [ngSwitch]="selectedTab">
          <outlook-tab *ngSwitchCase="0" [pratica]="praticeDetails"></outlook-tab>          
          <payment-tab *ngSwitchCase="1" [paymentDetails]="paymentDetails"></payment-tab>
          <photo-tab *ngSwitchCase="2" [photos]="photoDetails" [practicaID]="activeItemID"></photo-tab>
          <documents-tab *ngSwitchCase="3" [documents]="documentDetails" [practicaID]="activeItemID"></documents-tab>
          <quote-tab *ngSwitchCase="4" [quotes]="quoteList"></quote-tab>
          <rent-tab *ngSwitchCase="5" [rentals]="noleggioList"></rent-tab>
        </div>

			</div>

    </div>
    <!-- END RIGHT COLUMN -->

  </div>
</ion-content>
