sidebar-item {
  display: block;
  padding: 10px 0;
  &.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .sidebar-item {
    text-align: center;
    color: #fff;
    position: relative;
  }
  .sidebar-icon {
    display: inline-block;
    width: 50px;
    height: 45px;
  }
  .sidebar-item-text {
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
  }
  .badge{
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 9px;
    color: #FFFFFF;
    width: 16px;
    height: 16px;
    padding: 0;
    line-height: 16px;
  }
}
