page-car-rental-edit {
	.grid.no-padding {
    padding: 50px 0;
  }
  .padding-content {
    padding: 40px 45px;
    height: 100%;
  }  
  .col {
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .component-wrapper {
    height: calc(100% - 32px);
  }
  .submit-row {
    @include clearfix();

    .button {
      height: 30px;
      min-width: 156px;
      border-radius: 0;
      font-size: 1.4rem;
      font-weight: 700;     
      border-width: 2px; 

      &[color="lightgray"] {
      	background-color: #d7d7d7;
      	color: #292929;
      	border: 2px solid #959595;
      }
    }
  }
}

/* Child tab components styles */
consegna-a-tab,
dettaglio-tab,
stato-veicolo-tab,
utilizzatore-tab,
utilizzatore-2-tab {
  display: flex;
  flex-flow: column;
  height: 100%;

  .no-padding {
    flex: 1;
  }
}