stato-veicolo-tab {
	.sinistri-content {
		max-height: 72vh;
		overflow-y: scroll;
		padding: 20px 0;
		margin: 20px 0;
	}

	.add-button {
		text-align: center;
		margin-bottom: 18px;

		.button-ios-secondary {
			height: 36px;
		}
	}
	.sinistri-content > .pull-right {
		margin-top: -48px;

		.button-outline-ios-light {
			background-color: #f0f0f0;
			border-color: #cbcbcb;
			border-width: 3px;
			border-radius: 2px;
			color: #000;
			text-transform: uppercase;
		}
	}

	.status-list {
		margin-top: 2.5rem;

		.item {
			color: black;
			padding: 15px;
			border: 1px solid #b0b0b0 !important;
			margin-bottom: 0.5rem;

			.label-ios > div {
				display: inline-block;
				width: fit-content;
				vertical-align: middle;
			}

			div.item-detail {
				width: 90%;

				ion-checkbox {
					position: fixed;
					top: 94px;  
				
					.checkbox-checked {
						background-color: #55f;
						border-color: #55f;
					}
				}
				.checkbox-ios {
					margin: 0;
					margin-left: 4px;
				}
			}

			div.update-button {
				width: 10%;
    			text-align: end;
				.button-ios-secondary {
					min-width: 70px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			.item-inner {
				border: 0 none;
			}

			.label {
				margin: 0;
			}

			h2 {
				font-size: 1.2rem;
				font-weight: 700;
				line-height: 1.5;
			}

			p {
				color: black;				
			}

			ul.photos {
				list-style: none;
				padding: 0;
				margin: 1rem 0 0;
				max-height: 60px;

				li {
					display: inline-block;
					margin-right: 8px;
					
					img {
						max-height: 60px;
						display: block;
					}
				}
			}
		}
	}
}
