<div class="sinistri-content">
  <div class="add-button" *ngIf="is_view_mode">
    <button ion-button color="secondary" (click)="showSinistriModal(-1)">AGGIUNGI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</button>    
  </div>
  <ion-item  *ngIf="!is_view_mode">
  <div class="pull-left">
  {{imgDelCount}} immagini selezionate.
  </div>
  <div class="pull-right">
    <button ion-button color="secondary"  icon-left (click)="deletePhoto()">
      <ion-icon name="close"></ion-icon>
      Elimina
    </button>
    <button ion-button outline  color="secondary" icon-left (click)="convertToViewMode()">
      Annulla
    </button>
  </div>
</ion-item>
  <ion-list class="status-list" *ngIf="globals.noleggioCarNuoviSinistri.length > 0">
    <ion-item *ngFor="let item of globals.noleggioCarNuoviSinistri; let i = index">
      <div class="item-detail" [style.width]="globals.noleggio.ID == item.NoleggioID ? '90%' : '100%'">
        <h2 [innerHtml]="convertToLocalDate(item.SinistroData)"></h2>
        <p>{{item.Sinistro}}</p>
        <ul class="photos" *ngIf="item.Immagini != null">
          <li *ngFor="let image of item.Immagini; let j = index" (click)="onClickItem(i, j)" ion-long-press [interval]="1000" (onPressing)="toggle(i, j)">
            <ion-checkbox [(ngModel)]="check_states[i][j].checked" *ngIf="check_states[i][j]?.checked"></ion-checkbox>
            <img [src]="image.Thumb" [style.border]="check_states[i][j]?.checked==true ? 'solid 2px #55f': ''">  
          </li>
        </ul>
      </div>
      <div class="update-button" *ngIf="globals.noleggio.ID == item.NoleggioID">
          <button ion-button color="secondary" (click)="showSinistriModal(i)">UPDATE</button>    
      </div>
    </ion-item>
  </ion-list>
  <ion-list class="status-list" *ngIf="globals.noleggio.Sinistri != null">
    <ion-item *ngFor="let item of globals.noleggio.Sinistri; let i = index">
      <div class="item-detail" [style.width]="globals.noleggio.ID == item.NoleggioID ? '90%' : '100%'">
        <h2 [innerHtml]="convertToLocalDate(item.SinistroData)"></h2>
        <p>{{item.Sinistro}}</p>
        <ul class="photos" *ngIf="item.Immagini != null">
          <li *ngFor="let image of item.Immagini; let j = index" (click)="onClickItem(i, j)" ion-long-press [interval]="1000" (onPressing)="toggle(i, j)">
            <ion-checkbox [(ngModel)]="check_states[i][j].checked" *ngIf="check_states[i][j]?.checked"></ion-checkbox>
            <img [src]="image.Thumb" [style.border]="check_states[i][j]?.checked==true ? 'solid 2px #55f': ''">  
          </li>
        </ul>
      </div>
      <!-- TODO: gestire la modifica dei sinistri che non sono ancora stati salvati sul database -->
      <div class="update-button" *ngIf="globals.noleggio.ID == item.NoleggioID">
          <button ion-button color="secondary" (click)="showSinistriModal(i)">MODIFICA</button>    
      </div>
    </ion-item>
  </ion-list>

</div>

<div class="submit-row">
  <div class="pull-left">
    <button ion-button outline color="secondary" (click)="onBackTab.emit()">INDIETRO</button>
  </div>
  <div class="pull-right">
    <button ion-button color="secondary" (click)="onNextTab.emit()">AVANTI</button>
  </div>
</div>