documents-tab {
  .padding-content {
    padding-top: 0;
    position: relative;
  }
  .grid {
    padding: 0;
  }
  ion-grid.document-categories {
    position: absolute;
    z-index: 10;
    width: 170px;
    border: #cbcbcb 1px solid;
    border-bottom: 0px;
    margin-top: -5px;
    left: 12px;

    ion-row {
      padding: 10px 8px;
      background-color: #f0f0f0;
      border-bottom: #cbcbcb 1px solid;
    }

    &:before {
      position: absolute;
      top: -8px;
      left: 6px;
      width: 14px;
      height: 14px;
      background-color: #f0f0f0;
      border-radius: 3px;
      border-top: #cbcbcb 1px solid;
      border-right: #cbcbcb 1px solid;
      border-bottom: #f0f0f0 1px solid;
      border-left: #f0f0f0 1px solid;
      content: '';
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
	ion-row {
    height: 100%;
    flex-wrap: wrap;
  }
	ion-col.col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 2px;

    img {
    	display: block;
    	width: 100%;
    	height: 200px;
    	max-height: 200px;    	
    }
    &:first-child {
    	padding-left: 2px;
    }
    &:last-child {
    	padding-right: 2px;
    }

    &.document-item {
      position: relative;
      ion-checkbox {
        position: absolute;
        right: 2px;
        top: 180px;        

        .checkbox-checked {
          background-color: #55f;
          border-color: #55f;
        }
      }      
    }

    h4 {
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    .doc-date {
      font-size: 12px;
      color: #000;
      margin-bottom: 1.6rem;
    }
  }
}