<div class="padding-content">
  <div class="buttons-header">
    <div class="pull-left">
      <button ion-button outline small color="light" icon-left (click)="openTemplates()">
        <ion-icon name="add"></ion-icon> 
        Nuovo
      </button>
      <button ion-button outline small color="light" icon-left (click)="takeNewDocument()">
        <ion-icon name="camera"></ion-icon> 
        Foto
      </button>
      <button ion-button outline small color="light" icon-left (click)="fromGallery()">
        <i class="fas fa-paperclip"></i>
        Rullino
      </button>
    </div>
    <div class="pull-right" *ngIf="!is_view_mode">
      <button ion-button outline small color="light" icon-left (click)="deleteDocuments()">
        <ion-icon name="close"></ion-icon>
        Elimina
      </button>
      <button ion-button outline small color="light" icon-left (click)="convertToViewMode()">
        Annulla
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <ion-grid class="document-categories" *ngIf="is_opened_templates">
    <ion-row (click)="addDocumentByTemplate(1)">Cessione credito</ion-row>
    <ion-row (click)="addDocumentByTemplate(2)">Dichiarazione testimone</ion-row>
    <ion-row (click)="addDocumentByTemplate(3)">Richiesta vettura</ion-row>
    <ion-row (click)="addDocumentByTemplate(4)">Nolo auto</ion-row>
    <ion-row (click)="addDocumentByTemplate(5)">Privacy</ion-row>
  </ion-grid>
    <ion-grid>
    <ion-row>
      <ion-col class="document-item" *ngFor="let document of documents; let i = index" (click)="onClickItem(i)" ion-long-press [interval]="1000" (onPressing)="toggle()" (onPressEnd)="released()">
        <ion-checkbox [(ngModel)]="document.Checked" *ngIf="document.Checked"></ion-checkbox>
        <img defaultImage="assets/imgs/defaultImg.jpg" [lazyLoad]="document.HasThumbnail ? document.ThumbUrl : ''" alt=""  [style.border]="document.Checked==true ? 'solid 2px #55f': ''">
        <h4>{{document.Nome}}</h4>
        <div class="doc-date">{{document.DataInserimento | date: 'dd/MM/yyyy'}}</div>
      </ion-col>      
    </ion-row>
  </ion-grid>
</div>