<div class="padding-content">
  <div class="buttons-header">
		<div class="pull-left">
      <button ion-button outline small color="light" icon-left (click)="takeNewPhoto()">
        <ion-icon name="add"></ion-icon> 
        Nuovo
      </button>
      <button ion-button outline small color="light" icon-left (click)="fromGallery()">
        <i class="fas fa-paperclip"></i>
        Rullino
      </button>
    </div>
    <div class="pull-right" *ngIf="!is_view_mode">
      <button ion-button outline small color="light" icon-left (click)="deletePhoto()">
        <ion-icon name="close"></ion-icon>
        Elimina
      </button>
      <button ion-button outline small color="light" icon-left (click)="convertToViewMode()">
        Annulla
      </button>
    </div>
    <div class="clearfix"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="photo-item" *ngFor=" let photo of photos; let i = index" 
              (click)="onClickItem(i)"
              ion-long-press [interval]="1000" (onPressing)="toggle()" (onPressEnd)="released()">
        <ion-checkbox [(ngModel)]="photo.Checked" *ngIf="photo.Checked"></ion-checkbox>
        <img defaultImage="assets/imgs/defaultImg.jpg" imageViewer [lazyLoad]="photo.Url" [style.border]="photo.Checked==true ? 'solid 2px #55f': ''">
      </ion-col>      
    </ion-row>
  </ion-grid>
</div>