photo-tab {
  .padding-content {
    padding-top: 0;
  }
  .grid {
    padding: 0;
    height: 80vh;
  }
	ion-row {    
    overflow: scroll;
    flex-wrap: wrap;
    align-content: flex-start;
  }
	ion-col.col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 2px;

    img {
    	display: block;
    	width: 100%;
    	height: 160px;
    	max-height: 160px;   
      border: 2px solid $green-bg; 	
    }
    &:first-child {
    	padding-left: 2px;
    }
    &:last-child {
    	padding-right: 2px;
    }

    &.photo-item {
      position: relative;

      ion-checkbox {
        position: absolute;
        right: 2px;
        bottom: 2px;        

        .checkbox-checked {
          background-color: #55f;
          border-color: #55f;
        }
      }      
    }
  }

  .scroll-content {
    height: 82vh;
  }
}