date-input {
  .date-wrapper{
    position: relative;
    .date-icon{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #EBEBEB;
      border: 1px solid #979797;
      width: 33px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.disabled {        
        border-color: transparent;
        border-left-color: #979797;
      }
    }
  }

  .datetime {
    background: #FFFFFF;
    border: 1px solid #979797;
    height: 36px;
    font-size: 12px;
    padding: 7px 8px 8px;
    margin: 0;
    width: 100%;
    color: $grey;
    margin-bottom: 1.5rem;
  }
}
