<ion-content padding>
  <div class="columns-container">

    <!-- BEGIN LEFT COLUMN WITH HEADER -->
    <div class="left-column with-header">

      <div class="column-header">
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-searchbar
                  [placeholder]="''"
                  [(ngModel)]="searchTerm">
                </ion-searchbar>
              </ion-col>
              <ion-col col-6>
                <ion-row class="no-margin" align-items-center justify-content-between>                  
                  <ion-col col-6>
                    <button ion-button class="btn-new">+ NUOVO</button>
                  </ion-col>
                  <ion-col col-6 class="col-with-buttons">
                    <button ion-button clear icon-only class="options-button">
                      <span class="filter-icon">
                        <span class="icon-line"></span>
                        <span class="icon-line"></span>
                        <span class="icon-line"></span>
                      </span>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </div>

      <div class="content-wrapper">
        <ion-scroll scrollY="true">
          <ion-list>
            <ion-item *ngFor="let item of praticaList | filterPratica: searchTerm" class="pratiche-item" [class.active]="activeItemID === item.ID" [ngClass]="item.Colore.Colore" (click)="selectPraticeItem(item)">
              <h2>{{item.P1_Targa}} - {{item.P1_Nome}} {{item.P1_Cognome}}</h2>
              <p>{{item.P1_Veicolo}}</p>
              <div item-end>
                <span [ngClass]="(item.AutoSostitutiva == true) ? 'car-red' : 'car-green'" *ngIf="item.AutoSostitutiva != null">
                  <i class="fas fa-car"></i>
                </span>
                <span class="blue" *ngIf="item.Lavorazione">
                  <ion-badge *ngIf="item.Lavorazione">{{item.Lavorazione.CodiceTappo != null ? item.Lavorazione.CodiceTappo : '..'}}</ion-badge>
                  <i class="fas fa-wrench"></i>
                </span>
              </div>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
    </div>
    <!-- END LEFT COLUMN -->

    <!-- BEGIN RIGHT COLUMN WITH HEADER -->
    <div class="right-column with-header">
      <div class="column-header">
        <span *ngIf="selectedItem">{{selectedItem.P1_Targa}} - {{selectedItem.P1_Nome}} {{selectedItem.P1_Cognome}}</span>
      </div>

      <div class="content-wrapper" *ngIf="selectedItem"> 
        <!-- *ngIf="activeItem" -->

        <switcher class="green no-padding" [values]="tabValues" [checkedTabs]="checkedTabs" withCheckMark="true"
                  [(ngModel)]="selectedTab"></switcher>
                  
        <div [ngSwitch]="selectedTab">
          <outlook-tab *ngSwitchCase="0" [pratica]="selectedItem"></outlook-tab>
          <payment-tab *ngSwitchCase="1"></payment-tab>
          <photo-tab *ngSwitchCase="2"></photo-tab>
          <documents-tab *ngSwitchCase="3"></documents-tab>
          <budgets-tab *ngSwitchCase="4"></budgets-tab>
          <rent-tab *ngSwitchCase="5"></rent-tab>
        </div>

			</div>

    </div>
    <!-- END RIGHT COLUMN -->

  </div>
</ion-content>
