<div class="padding-content">
  <div class="inner-content" padding>
    <div class="buttons">
      <button ion-button color="secondary" (click)="newPreventivo()">+ &nbsp;&nbsp;&nbsp;NUOVO</button>    
    </div>
    <h3 class="text-fiat"><span *ngIf="marca != undefined && marca != '' && marca != '--'">{{marca != undefined && marca != '' ? marca : ''}} {{modello != undefined && modello != '' ? modello : ''}} {{versione != undefined && versione != '' ? ' - ' + versione : ''}}</span>
      <span *ngIf="marca == undefined || marca == '' || marca == '--'">Imposta marca, modello e versione</span>
      <button class="edit-button" ion-button icon-only clear 
                (click)="editQuoteOptions(false)">
          <i class="far fa-edit"></i>
      </button>
    </h3>
    <ion-scroll scrollY="true">
      <div class="budgets-detail" *ngFor="let quote of quotes">
        <div class="header">
          <div class="pull-left">
            <p class="green">{{quote.Nome}} {{quote.ID}}</p>
            <p>Totale: {{quote.Totale | number: '1.2-2'}}</p>    
          </div>
          <button ion-button color="secondary" class="pull-right" (click)="selezionaStampa(quote.ID)">VISUALIZZA</button><button ion-button color="secondary" class="viewbtn pull-right" (click)="editPreventivo(quote.ID)">MODIFICA</button> 
        </div>
        <div class="budgets-body">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-8>
                <div class="legends">
                  <div class="legend-row">
                    <div class="pull-left"><span class="color-mark ricambi"></span> Ricambi</div>
                    <div class="pull-right">€ {{quote.TotaleRicambi | number: '1.2-2'}}</div>
                  </div>
                  <div class="legend-row">
                    <div class="pull-left"><span class="color-mark voci_compl"></span> Voci Compl.</div>
                    <div class="pull-right">€ {{quote.TotaleVociComplementari | number: '1.2-2'}}</div>
                  </div>
                  <div class="legend-row">
                    <div class="pull-left"><span class="color-mark smaltimento"></span> Smaltimento</div>
                    <div class="pull-right">€ {{quote.TotaleSmaltimento | number: '1.2-2'}}</div>
                  </div>                
                  <div class="legend-row">
                    <div class="pull-left"><span class="color-mark mat_consumo"></span> Mat. Consumo</div>
                    <div class="pull-right">€ {{quote.TotaleMaterialeConsumo | number: '1.2-2'}}</div>                  
                  </div>                
                  <div class="legend-row">
                    <div class="pull-left"><span class="color-mark meccanica"></span> Meccanica</div>
                    <div class="pull-right">€ {{quote.TotaleMeccanica | number: '1.2-2'}}</div>
                      
                  </div>                
                  <div class="legend-row">
                    <div class="pull-left"><span class="color-mark carrozzeria"></span> Carrozzeria</div>
                    <div class="pull-right">€ {{quote.TotaleCarrozzeria | number: '1.2-2'}}</div>                    
                  </div>                	    
                </div>
              </ion-col>
              <ion-col col-4>
                <div class="chart-inner">
                  <ngx-charts-pie-chart
                    [view]="view"
                    [results]="quote.Single"
                    [scheme]="colorScheme"
                    [legend]="false"
                    [tooltipDisabled]="true"
                    [explodeSlices]="explodeSlices"
                    [labels]="false"
                    [doughnut]="doughnut"
                    (select)="onSelect($event)">
                  </ngx-charts-pie-chart>  
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="budgets-result">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-8>
                <div class="legends">
                  <div class="legend-row total">
                    <div class="pull-left">Totale</div>
                    <div class="pull-right">€ {{quote.Totale | number: '1.2-2'}}</div>
                  </div>
                </div>              
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="budgets-footer">
          Ultima modifica: {{quote.UltimaModifica | date: 'dd/MM/yyyy HH:mm'}}
        </div>
      </div>
    </ion-scroll>
  </div>  
</div>