<ion-header>
  <ion-navbar hideBackButton="true" color="secondary">
  	<ion-buttons right>
      <button ion-button clear>        
        ANNULLA
      </button>
    </ion-buttons>

    <ion-title>
      Noleggio
    </ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="padding-content">
		<ion-grid class="no-padding">
			<ion-row>
				<ion-col col-4>
					<div class="car-item" tappable (click)="expandItem(items[0])">
						<div class="item-label">							
						</div>
						<div class="item-content">
							<img src="assets/imgs/car-1.jpg">
							<h2>TOYOTA YARIS</h2>
							<p>Immatricolazione: 06/07/2016</p>
							<p>Scadenza revisione: 08/07/2016</p>
							<p>KM: 2200 - Targa: XX123XX</p>							
						</div>
						<div class="expand-buttons" *ngIf="items[0].expanded">
							<button ion-button color="secondary" (click)="editCarRental()">NOLEGGIO A PAGAMENTO</button>
							<button ion-button color="secondary">NOLEGGIO GRATUITO</button>
							<button ion-button color="light" (click)="clearItem()">ANNULLA</button>
						</div>
					</div>
				</ion-col>

				<ion-col col-4>
					<div class="car-item" tappable (click)="expandItem(items[1])">
						<div class="item-label gray">
							IN PRENOTAZIONE DA 152 GIORNI
						</div>
						<div class="item-content">
							<img src="assets/imgs/car-2.jpg">
							<h2><span class="label blue">CONDIVISA</span>CITROEN C1</h2>
							<p>Immatricolazione: 06/07/2016</p>
							<p>Scadenza revisione: 08/07/2016</p>
							<p>KM: 2200 - Targa: XX123XX</p>							
						</div>
						<div class="expand-buttons" *ngIf="items[1].expanded">
							<button ion-button color="secondary">NOLEGGIO A PAGAMENTO</button>
							<button ion-button color="secondary">NOLEGGIO GRATUITO</button>
							<button ion-button color="light">ANNULLA</button>
						</div>
					</div>
				</ion-col>

				<ion-col col-4>
					<div class="car-item in-progress" tappable (click)="expandItem(items[2])">
						<div class="item-label red">
							NOLEGGIO IN CORSO
						</div>
						<div class="item-content">
							<img src="assets/imgs/car-3.jpg">
							<h2>KIA SOUL</h2>
							<p>Immatricolazione: 06/07/2016</p>
							<p>Scadenza revisione: 08/07/2016</p>
							<p>KM: 2200 - Targa: XX123XX</p>							
						</div>
						<div class="expand-buttons" *ngIf="items[2].expanded">
							<button ion-button color="secondary">NOLEGGIO A PAGAMENTO</button>
							<button ion-button color="secondary">NOLEGGIO GRATUITO</button>
							<button ion-button color="light">ANNULLA</button>
						</div>
					</div>
				</ion-col>

				<ion-col col-4>
					<div class="car-item" tappable (click)="expandItem(items[3])">
						<div class="item-label">							
						</div>
						<div class="item-content">
							<img src="assets/imgs/car-1.jpg">
							<h2>TOYOTA YARIS</h2>
							<p>Immatricolazione: 06/07/2016</p>
							<p>Scadenza revisione: 08/07/2016</p>
							<p>KM: 2200 - Targa: XX123XX</p>							
						</div>
						<div class="expand-buttons" *ngIf="items[3].expanded">
							<button ion-button color="secondary">NOLEGGIO A PAGAMENTO</button>
							<button ion-button color="secondary">NOLEGGIO GRATUITO</button>
							<button ion-button color="light">ANNULLA</button>
						</div>
					</div>
				</ion-col>

				<ion-col col-4>
					<div class="car-item" tappable (click)="expandItem(items[4])">
						<div class="item-label">
						</div>
						<div class="item-content">
							<img src="assets/imgs/car-2.jpg">
							<h2>CITROEN C1</h2>
							<p>Immatricolazione: 06/07/2016</p>
							<p>Scadenza revisione: 08/07/2016</p>
							<p>KM: 2200 - Targa: XX123XX</p>							
						</div>
						<div class="expand-buttons" *ngIf="items[4].expanded">
							<button ion-button color="secondary">NOLEGGIO A PAGAMENTO</button>
							<button ion-button color="secondary">NOLEGGIO GRATUITO</button>
							<button ion-button color="light">ANNULLA</button>
						</div>
					</div>
				</ion-col>

				<ion-col col-4>
					<div class="car-item" tappable (click)="expandItem(items[5])">
						<div class="item-label">
						</div>
						<div class="item-content">
							<img src="assets/imgs/car-3.jpg">
							<h2>KIA SOUL</h2>
							<p>Immatricolazione: 06/07/2016</p>
							<p>Scadenza revisione: 08/07/2016</p>
							<p>KM: 2200 - Targa: XX123XX</p>							
						</div>
						<div class="expand-buttons" *ngIf="items[5].expanded">
							<button ion-button color="secondary" (click)="editCarRental()">NOLEGGIO A PAGAMENTO</button>
							<button ion-button color="secondary">NOLEGGIO GRATUITO</button>
							<button ion-button color="light">ANNULLA</button>
						</div>
					</div>
				</ion-col>


			</ion-row>
		</ion-grid>
	</div>
</ion-content>
