.icon-pratiche {
  background: url('../assets/imgs/icon-menu-pratiche.png') no-repeat;
  background-size: contain;  
}

.icon-tempario {
  background: url('../assets/imgs/icon-menu-tempario.png') no-repeat;  
  background-size: contain;
}

.icon-noleggio {
  background: url('../assets/imgs/icon-menu-noleggio.png') no-repeat;  
  background-size: contain;
}