.icon-chiuse {
  background: url('../assets/imgs/icon-menu-chiuse.png') no-repeat;
  background-size: contain;  
}

.icon-in-lavorazione {
  background: url('../assets/imgs/icon-menu-in-lavorazione.png') no-repeat;
  background-size: contain;  
}

.icon-preventivi {
  background: url('../assets/imgs/icon-menu-preventivi.png') no-repeat;  
  background-size: contain;
}

.icon-noleggio {
  background: url('../assets/imgs/icon-menu-noleggio.png') no-repeat;  
  background-size: contain;
}

.icon-aperte {
  background: url('../assets/imgs/icon-menu-aperte.png') no-repeat;  
  background-size: contain;
}

.icon-warning {
  background: url('../assets/imgs/icon-warning.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 25px;
  height: 22px;
}

.icon-alert {
  background: url('../assets/imgs/icon-alert.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 22px;
  height: 22px;
}

.icon-maintenance {
  background: url('../assets/imgs/aperte/maintenance.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 93px;
  height: 73px;
}

.icon-rca-card-insurance {
  background: url('../assets/imgs/aperte/rca-card-insurance.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 182px;
  height: 74px;
}

.icon-kasco {
  background: url('../assets/imgs/aperte/kasco.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 54px;
  height: 42px;
}

.icon-crystals {
  background: url('../assets/imgs/aperte/crystals.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 67px;
  height: 54px;
}

.icon-natural-events-hail {
  background: url('../assets/imgs/aperte/natural-events-hail.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 62px;
  height: 63px;
}

.icon-partial-search {
  background: url('../assets/imgs/aperte/partial-search.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 45px;
  height: 48px;
}

.icon-responsibility {
  background: url('../assets/imgs/aperte/responsibility.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 77px;
  height: 51px;
}

.icon-vandalism {
  background: url('../assets/imgs/aperte/vandalism.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 64px;
  height: 51px;
}

.icon-other-damages {
  background: url('../assets/imgs/aperte/other-damages.png') no-repeat;  
  background-size: contain;
  display: inline-block;  
  width: 39px;
  height: 58px;
}