// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #188b37,
  danger:     #f53d3d,
  light:      #f0f0f0,
  dark:       #222
);

$green-bg: #188b37;
$grey: #5c5c5c;
$header-bg: #188b37;

// app colurs 
$light-blue: lightblue;
$light-yello: #fff5cc;
$light-purple: #ffcccc;
$light-orange: #f2d499;
$light-green: #d0e8d7;

$text-color: #484848;

$icon-red: #cc0000;
$icon-green: $green-bg;
$icon-blue: #06599f;

$colorSchema: (
  ricambi:      #86c7f3,
  voci_compl:   #b0b0b0,
  smaltimento:	#ffe29a,
  mat_consumo:  #9a9be5,
  meccanica:    #95d974,
  carrozzeria:  #ff8ba4
);

// App Global Variables
// --------------------------------------------------
// All platform Sass variables can go here

$list-border-color: #e9e9e9;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-background: transparent !default;
$toolbar-ios-padding: 0 !default;
$toolbar-ios-title-font-size: 2rem;
$toolbar-ios-title-font-weight: 300;

$text-input-ios-background-color: #fff;
$searchbar-ios-toolbar-input-background: #fff;
$searchbar-ios-input-search-icon-color: $green-bg;

$toggle-ios-background-color-off: #fff;
$toggle-ios-border-color-off: #EBEBEB;
$toggle-ios-background-color-on:  #7ED321;
// $modal-inset-width: calc(100% - 117px);
$modal-inset-height-large: 98%;
$modal-ios-border-radius: 0;
$modal-inset-width: 720px;
$modal-inset-height-small: 444px;

$toolbar-ios-title-text-color: #008AD6;



$item-ios-padding-left: 0 !default;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "open-sans";

@import "simple-line-icons";

// Font-awesome 5.1.0
$fa-font-path: "../assets/fonts/font-awesome" !default;

@import "fontawesome/fontawesome";
@import "fontawesome/fa-brands";
@import "fontawesome/fa-regular";
@import "fontawesome/fa-solid";

$font-family-base: "Open Sans", sans-serif !default;


// Base App Styles
// --------------------------------------------------
@import "icons";


// Mixins

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}