// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bg {
  background-image: url("../assets/imgs/bg.png");
  background-repeat:no-repeat;
  background-size: cover;
}

.green-bg {
  background-color: #d3fed5;
}

.orange-bg {
  background-color: #ffead2;
}

.lightblue-bg {
  background-color: #daf1f8;
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

.centered-content-wrapper{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.with-header {
  position: relative;
  .content-wrapper{
    margin-top: 49px;
    height: calc(100% - 49px);
  }
}

.header {
  margin-left: 0!important;
  margin-right: 0!important;
  &.blue {
    font-size: 18px;
    color: #008AD6;
    letter-spacing: 1px;
    font-weight: normal;
  }
  &.no-wrap{
    white-space: nowrap;
  }
  .toolbar-background {
    border-style: none;
    border-color: transparent;
  }
}
.select-popover{
  .item{
    color: $grey;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-scroll .scroll-content{
  overflow: hidden;
}

.no-padding {
  padding: 0;
}

.custom-input {
  .text-input, 
  .select {
    border: 1px solid #b0b0b0;
    height: 36px;
    padding: 5px 8px 5px 8px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    color: $text-color;
  }

  textarea.text-input {
    height: 72px;
    padding: 8px;
  }
  .item-ios {
    padding-left: 0;
    border: none !important;
    &.item-block .item-inner {
      padding: 0;
      border: none;
    }

    &.item-toggle {
      margin-bottom: 15px;
    }
  }
  .label-ios {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 15px;

    .row {
      margin-bottom: 0;
    }
  }
  .item-block{
    min-height: 0;
    margin-bottom: 18px;
  }
  .input-item-label {
    //font-family: Monaco;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2d2d2d;    
    text-transform: uppercase;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.required {
  color: red;
}

.bar-buttons-ios[right] {
  margin-right: 4rem;
}
