<div class="padding-content">
  <div class="inner-content" padding>

    <div class="buttons">
      <button ion-button color="secondary">+ &nbsp;&nbsp;&nbsp;NUOVO</button>    
    </div>

    <div class="details" *ngFor="let rent of rentals">
      <div class="details-header">
        <div class="header-start">
          <img src="assets/imgs/car.png">
        </div>
        <div class="header-inner">
          <div class="input-wrapper">
            <div class="inner-content">
              <h2>{{rent.TipoNoleggio == 0 ? 'NOLEGGIO  A PAGAMENTO' : 'NOLEGGIO  GRATUITO'}}</h2>
              <p>{{rent.Vettura}} - {{rent.Targa}}</p>
              <button ion-button color="secondary">VISUALIZZA</button>        
            </div>
          </div>

          <div class="header-end">
            <div class="chart-inner">
              <ngx-charts-pie-chart
                [view]="view"
                [results]="single"
                [scheme]="colorScheme"
                [legend]="false"
                [tooltipDisabled]="true"
                [explodeSlices]="explodeSlices"
                [labels]="false"
                [doughnut]="doughnut"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>  
            </div>
          </div>
        </div>        
      </div>

      <div class="details-body">
        <ion-grid no-padding>
          <ion-row class="content-head">
            <ion-col col-6>CONSEGNA</ion-col>
            <ion-col col-6>RIENTRO</ion-col>
          </ion-row>
          <ion-row class="content-inner">
            <ion-col col-6>
              <div padding class="text-center">
                {{rent.DataConsegna | date: 'dd/MM/yyyy HH:mm'}}                
              </div>
              <div class="document-item">
                <img *ngIf="rent.DataConsegna" src="http://oxygen.ilcarrozziere.it/RentNoleggio/PrintLetteraNoleggioFatturazioneCompleta?ID={{rent.ID}}" alt="">
              </div>              
            </ion-col>
            <ion-col col-6>
              <div padding class="text-center">              
                <span *ngIf="rent.DataRestituzione">{{rent.DataRestituzione | date: 'dd/MM/yyyy HH:mm'}}</span>
                <span *ngIf="rent.DataRestituzione == null && rent.DataRestituzioneStimata">{{rent.DataRestituzioneStimata | date: 'dd/MM/yyyy HH:mm'}}</span>
                <span *ngIf="rent.DataRestituzione == null && rent.DataRestituzioneStimata == null">Data rientro non indicata</span>
              </div>
              <div class="document-item">    
                <img *ngIf="rent.DataRestituzione" src="http://oxygen.ilcarrozziere.it/RentNoleggio/PrintLetteraNoleggioFatturazioneRientro?ID={{rent.ID}}">
              </div>
            </ion-col>            
          </ion-row>
        </ion-grid>
      </div>
      
    </div>
  </div>
</div>