<div class="sidebar">
  <div class="logo-wrapper">
    <img src="assets/imgs/app-small-logo.png" />
  </div>
  <div class="sidebar-list">
    <sidebar-item *ngFor="let item of sidebarItems"
                  [class.active]="globals.activeSideMenuItem === item.icon"
                  (onSelectItem)="onSelectItem($event)"
                  [icon]="item.icon" [notifications]="item.notification" [name]="item.title"></sidebar-item>
  </div>
  <div class="sidebar-footer">
    <div class="buttons-block">
      <button ion-button clear icon-top (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        DISCONNETTI
      </button>      
    </div>
  </div>
</div>