sidebar {
  .sidebar{
    padding: 10px 0 6px;
    // border-right: 1.5px ridge #fff;
    flex: auto;
    flex-flow: column;
    justify-content: flex-start;
    display: flex;
  }
  .logo-wrapper {
    margin-bottom: 8px; //48px ipad
    padding: 0 30px 10px;
  }
  .avatar{
    text-align: center;
    margin-bottom: 50px;
    min-height: 60px;
  }
  .sidebar-footer{
    color: #fff;
    margin-top: auto;
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;*/

    .buttons-block{
      display: flex;
      justify-content: space-around;      

      button.button-clear-ios {
        font-size: 1rem;
        font-weight: 300;
        color: #ececec;
        height: auto;

        .button-inner {
          flex-flow: column wrap;
        }

        ion-icon {
          font-size: 3.6rem; 
          margin-bottom: 5px;
          color: #fff;         
        }
      }
    }
  }
}
