<div class="padding-content">
  

  <ion-list>
    <ion-item class="car-info">
      <div item-start>
        <div class="car-number">
          {{pratica.P1_Targa}}
        </div>
      </div>
      <h2>{{pratica.P1_Veicolo}}</h2>
      <p>Telaio: {{pratica.P1_VeicoloNumeroTelaio}}</p>
      <p>Assicurato: <span *ngIf="pratica.Tipo.Assicurativa == true">{{pratica.P1_Assicurazione}}</span></p>
      <div item-end *ngIf="pratica.Lavorazione">
        <div class="yello-circle">{{pratica.Lavorazione.CodiceTappo != null ? pratica.Lavorazione.CodiceTappo : '..'}}</div>
      </div>
    </ion-item>

    <button detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
      <i class="fas fa-wrench" item-start></i>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          Hello people
      </expandable>
      <button ion-button clear item-end icon-only>
        <i class="icon-arrow-down" *ngIf="!item.expanded"></i>
        <i class="icon-arrow-up" *ngIf="item.expanded"></i>
      </button>
    </button>
  </ion-list>
</div>