outlook-tab {
  .car-info {
    background-color: $light-green;
    color: #292929;
    margin-bottom: 15px;
    min-height: 84px;

    [item-start] {
      padding: 0 12px 0 19px;
      margin-top: 4;
      margin-bottom: 12px;
    }

    .car-number {
      background: url("../assets/imgs/car-number-bg.png") no-repeat;      
      background-size: contain;
      min-width: 140px;
      line-height: 3.2rem;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: .06rem;
    }

    .label-ios {
      margin-top: 20px;
      margin-bottom: 17px;
    }

    h2 {
      font-size: 1.3rem;
      line-height: 1.4;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
      color: $text-color;
    }

    [item-end] {
      margin-right: 12px;
    }

    .yello-circle {
      width: 40px;
      height: 40px;
      background-color: #fff200;
      border-radius: 50%;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 4rem;
    }
  }

  button[detail-none] {
    margin-bottom: 8px;
    border: 0.55px solid #e9e9e9;

    &.item-block .item-inner {
      border: 0 none;
      padding-right: 15px;
    }

    [item-start] {
      font-size: 3.2rem;
      padding-left: 12px;      
      width: 60px;
    }

    button[icon-only] {
      margin-top: 18px;
      margin-bottom: auto;
      color: #999999;
    }

    span[item-end] {      
      margin-top: 18px;
      margin-bottom: auto;
      margin-right: 17px;
    }

    .item-header {
      font-weight: 300;
      font-size: 1.4rem;
      margin: 0 0 2px;
    }

    &.item-ios {
      h2 {
        font-size: 1.4rem;
        line-height: 1.3;
      }
      p {
        font-size: 1.3rem;
      }
    }

    &.three-lines {
      .label-ios {
        margin-top: 7px;
        margin-bottom: 7px;
      }
    }

  }
}