<div class="padding-content">
  <div class="inner-content" padding *ngIf="paymentDetails.DatiPratica && paymentDetails.DatiPratica.Tipo.Assicurativa">
    <div class="payment-details">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <p><b>Stato:</b> <span class="stato">{{paymentDetails.Stato | lowercase}}</span></p>
            <p><b>Tipo Pagamento:</b> {{paymentDetails.TipoPagamento}}</p>
            <p><b>Scadenza:</b> {{paymentDetails.ScadenzaPagamento | date: 'dd/MM/yyyy'}}</p>
            <p><b>Data pagamento:</b> {{paymentDetails.DataPagamento | date: 'dd/MM/yyyy'}}</p>
          </ion-col>
          <ion-col col-3>
            <div class="chart-inner">
              <ngx-charts-pie-chart
                [view]="view"
                [results]="single"
                [scheme]="colorScheme"
                [legend]="false"
                [tooltipDisabled]="true"
                [explodeSlices]="explodeSlices"
                [labels]="false"
                [doughnut]="doughnut"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>  
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </div>
    <div class="payment-invoice">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <p>Fattura Carrozzeria</p>
            <p>Fattura Nolo</p>
            <p>A Carico del Cliente</p>
            <p>Offerta / Pagamento</p>
            <h4>Differenza</h4>
          </ion-col>
          <ion-col col-3 class="text-right">
            <p>€ {{paymentDetails.ImportoFatturaCarrozzeria | number: '1.2-2'}} +</p>
            <p>€ {{paymentDetails.ImportoFatturaNolo | number: '1.2-2'}} +</p>
            <p>€ {{paymentDetails.ImportoFatturaCaricoCliente | number: '1.2-2'}} -</p>
            <p>€ {{paymentDetails.ImportoOfferta | number: '1.2-2'}} -</p>
            <hr>
            <p style="color: green; font-weight: 700">€ {{paymentDetails.Differenza | number: '1.2-2'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="pratica-left">      
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h2><span *ngIf="paymentDetails.DatiPratica.Tipo.Assicurativa == true; else elsePraticasinistro">Pratica assicurativa</span> del {{paymentDetails.DatiPratica.DataInserimento | date: 'dd/MM/yyyy'}}</h2>
            <ng-template #elsePraticasinistro>{{paymentDetails.DatiPratica.Tipo.Sigla}}</ng-template>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <p>
              <b>Garante:</b> 
              <span *ngIf="paymentDetails.DatiPratica.GaranteID != null; else elseGarante">{{paymentDetails.DatiPratica.Garante.Nome}}</span>
              <ng-template #elseGarante>
                <span *ngIf="paymentDetails.GaranteAutogestione == true">In autogestione</span>
                <span *ngIf="paymentDetails.GaranteAutogestione == false">Nessun  garante assegnato</span>
              </ng-template>
            </p>
            <p><b>{{paymentDetails.DatiPratica.Tipo.Tipo}}</b></p>
            <p><b>Data invio PEC:</b></p>
            <p><b>Controparte:</b> {{paymentDetails.DatiPratica.Controparte}}</p>
            <p><b>Perito:</b> <span *ngIf="paymentDetails.DatiPratica.PeritoID != null; else elsePerito">{{paymentDetails.DatiPratica.Perito.Nome}}</span></p>
            <p><b>Perito:</b> <span *ngIf="paymentDetails.DatiPratica.PeritoSecondarioID != null; else elsePerito">{{paymentDetails.DatiPratica.PeritoSecondario.Nome}}</span><ng-template #elsePerito>-</ng-template></p>
            <ng-template #elsePerito>-</ng-template>
          </ion-col>
          <ion-col col-4 class="text-right">
            <p>
              <span *ngIf="paymentDetails.DatiPratica.GaranteID != null">{{paymentDetails.DatiPratica.Garante.Telefono}}  {{paymentDetails.DatiPratica.Garante.Cellulare}}</span>
            </p>
            <p>Pagamento in {{paymentDetails.DatiPratica.TipoScadenzaPagamento}} giorni</p>
            <p>{{paymentDetails.DatiPratica.DataInvioPec | date: 'dd/MM/yyyy'}}</p>
            <p></p>
            <p>
              <span *ngIf="paymentDetails.DatiPratica.PeritoID != null">{{paymentDetails.DatiPratica.Perito.Telefono}}  {{paymentDetails.DatiPratica.Perito.Telefono}}</span>
            </p>
            <p>
              <span *ngIf="paymentDetails.DatiPratica.PeritoSecondarioID != null">{{paymentDetails.DatiPratica.PeritoSecondario.Telefono}}  {{paymentDetails.DatiPratica.PeritoSecondario.Telefono}}</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="inner-content" padding *ngIf="paymentDetails">
    <div class="payment-details provisional">
      <ion-grid>
        <ion-row>
          <ion-col col-7>
            <p><b>Stato:</b> <span class="stato">{{paymentDetails.Stato | lowercase}}</span></p>            
            <ion-item>
              <ion-label fixed>Tipo Pagamento:</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <date-input label="Scadenza:" class="item item-block"></date-input>
            <date-input label="Data pagamento:" class="item item-block"></date-input>
          </ion-col>
          <ion-col col-3 offset-2>
            <div class="chart-inner">
              <ngx-charts-pie-chart
                [view]="view"
                [results]="single"
                [scheme]="colorScheme"
                [legend]="false"
                [tooltipDisabled]="true"
                [explodeSlices]="explodeSlices"
                [labels]="false"
                [doughnut]="doughnut"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>  
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </div>
    <div class="payment-invoice provisional">
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            <p>Fattura Carrozzeria</p>
            <p>A Carico del Cliente</p>
            <p>Offerta / Pagamento</p>
            <h4>Differenza</h4>
          </ion-col>
          <ion-col col-3 class="text-right">
            <p>
              <ion-input></ion-input>
            </p>
            <p><ion-input></ion-input></p>
            <p><ion-input></ion-input></p>
            <hr>
            <p style="color: green; font-weight: 700"><span class="total-price">{{paymentDetails.Differenza | number: '1.2-2'}}</span> €</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>  
</div>