photo-tab {
  .padding-content {
    padding-top: 0;
  }
  .grid {
    padding: 0;
  }
	ion-row {
    height: 80vh;
    overflow: scroll;
    flex-wrap: wrap;
    align-content: flex-start;
  }
	ion-col.col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 2px;

    img {
    	display: block;
    	width: 100%;
    	height: 160px;
    	max-height: 160px;    	
    }
    &:first-child {
    	padding-left: 2px;
    }
    &:last-child {
    	padding-right: 2px;
    }
  }
}